# Copia este archivo como ".env" y reemplaza con tus valores reales

PORT=3000

# URI de conexión de Aiven (MySQL)
DATABASE_URL=mysql://usuario:password@host:puerto/nombre_base_de_datos

# API Key de Gemini
GEMINI_API_KEY=tu_api_key_aqui
